@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "tailwindcss";


:root {
  --color-base: #090A0B;
}

@theme inline {
  /* Base */
  --color-base: #090A0B;
  --color-border: #808080;
  --color-white-text: #fff;
  /* Buttons */
  --color-buttons-hover: #918D91;
  --color-buttons-focus: #686468;
  --color-buttons-active: #686468;
  /* Notes */
  --color-notes-base: #212222;
  --color-notes-hover: #333333;
  --color-notes-active: #3C3C3C;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  background-color: var(--color-base);
  font-family: 'Roboto', sans-serif;
}

/* Scroll */

* {
  --sb-track-color: transparent;
  --sb-thumb-color: var(--color-border);
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 999px
}

*::-webkit-scrollbar-thumb:hover {
  background: #C5C5C5;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}